name: build-frontend-image

on:
  push:
    branches: [ "main" ]


permissions:
  contents: read
  packages: write

env:
  CONFIG_REPO: CSU-ITMO-2025-2/team8-infrastructure
  VALUES_FILE: helm/values.yaml
  IMAGE_NAME: team8-frontend

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    outputs:
      image_tag: ${{ steps.settag.outputs.image_tag }}
    steps:
      - uses: actions/checkout@v4.2.1

      - name: Derive image tag
        id: settag
        run: echo "image_tag=sha-${GITHUB_SHA::7}" >> "$GITHUB_OUTPUT"

      - name: Derive lowercase owner
        id: setowner
        run: echo "owner_lc=$(echo '${{ github.repository_owner }}' | tr '[:upper:]' '[:lower:]')" >> "$GITHUB_OUTPUT"

      - uses: docker/setup-buildx-action@v3

      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v6
        with:
          context: .
          file: Dockerfile
          push: true
          tags: |
            ghcr.io/${{ steps.setowner.outputs.owner_lc }}/${{ env.IMAGE_NAME }}:${{ steps.settag.outputs.image_tag }}
